/*#region DESIGN SYSTEM */
:root {
    /* Primary Colors */
    --primary-50: #f3f3ff;
    --primary-100: #e4eafd;
    --primary-200: #d5d7fa;
    --primary-300: #c7c4f8;
    --primary-400: #acb1f6;
    --primary-500: #9196f1;
    --primary-600: #8260e7;
    --primary-700: #722ed3;
    --primary-800: #542ae6;
    --primary-900: #502091;
    --primary-950: #311362;

    /* Secondary Colors */
    --secondary-50: #eefce9;
    --secondary-100: #e0f5d4;
    --secondary-200: #bdf2ae;
    --secondary-300: #89e571;
    --secondary-400: #68d845;
    --secondary-500: #41b827;
    --secondary-600: #2e951b;
    --secondary-700: #267219;
    --secondary-800: #225519;
    --secondary-900: #204418;
    --secondary-950: #1c2d09;

    /* Black Shades */
    --black-50: #f6f7f9;
    --black-100: #ebeef3;
    --black-200: #d3d7e4;
    --black-300: #adb6cc;
    --black-400: #818faf;
    --black-500: #617196;
    --black-600: #4c597d;
    --black-700: #314965;
    --black-800: #373755;
    --black-900: #2b3040;
    --black-950: #212430;

    /* Success Colors */
    --success-50: #f3fdf3;
    --success-100: #e3f5e3;
    --success-200: #c8eac9;
    --success-300: #9ddb9f;
    --success-400: #6bbd6e;
    --success-500: #4caf50;
    --success-600: #358438;
    --success-700: #2b6830;
    --success-800: #275429;
    --success-900: #224255;
    --success-950: #0c2510;

    /* Pending Colors */
    --pending-50: #fffefa;
    --pending-100: #fffbc5;
    --pending-200: #fff885;
    --pending-300: #ffee46;
    --pending-400: #ffe01b;
    --pending-500: #ffc107;
    --pending-600: #e29400;
    --pending-700: #d86902;
    --pending-800: #98510a;
    --pending-900: #742c0b;
    --pending-950: #482200;

    /* Danger Colors */
    --danger-50: #fef3f2;
    --danger-100: #ffe8e3;
    --danger-200: #ffccc8;
    --danger-300: #ffa8a2;
    --danger-400: #fc776d;
    --danger-500: #f44336;
    --danger-600: #e22220;
    --danger-700: #e22127;
    --danger-800: #9d2017;
    --danger-900: #822211;
    --danger-950: #470c08;
}

/*#endregion  */

/*#region GLOBAL STYLING */
* {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--black-950);
    color: var(--black-50);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 0.56px;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.48px;
}

h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.40px;
}

h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0;
}

h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
}

.empty-state {
    height: 100px;
}

.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main_button {
    padding: 9px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    background-color: var(--black-950);
    color: var(--black-50);
    height: 40px;
    max-height: 40px;

    img,
    svg {
        width: 20px;
        height: 20px;
    }
}

.icon_button {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}

.main_button:hover {
    background-color: var(--black-500);
}

.main_button:focus {
    background-color: var(--black-600);
    border: 1px solid var(--primary-500);
}

.main_button:disabled {
    background-color: var(--black-200);
    color: var(--black-300);
}

.light_button {
    padding: 9px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--black-50);
    color: var(--black-950);
    height: 40px;
    max-height: 40px;
    width: fit-content;

    img,
    svg {
        width: 20px;
        height: 20px;
    }
}

.icon_button_rotate_left {
    max-width: 40px;
    max-height: 40px;
    transition: transform 0.3s ease;
}

.icon_button_rotate_left:hover {
    transform: rotate(20deg);
}

.icon_button_rotate_right {
    max-width: 40px;
    max-height: 40px;
    transition: transform 0.3s ease;
}

.icon_button_rotate_right:hover {
    transform: rotate(-20deg);
}

.light_button:hover {
    background-color: var(--black-300);
}

.light_button:focus {
    background-color: var(--black-400);
    border: 1px solid var(--primary-500);
}

.light_button:disabled {
    background-color: var(--black-50);
    color: var(--black-300);
}

/*#endregion  */

/*#region HEADER SECTION */
header {
    max-width: 1100px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: fixed;
    top: 20px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);


    .inner_container {
        padding: 10px;
        background-color: var(--black-950);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .light_button.logo {
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 24px;
                height: 20px;
            }
        }
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 50px;
        list-style: none;

        .mobile_menu {
            display: none;
        }
    }
}

/*#endregion  */

/*#region HERO SECTION */
.banner_main_container {
    position: relative;
    height: 800px;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        position: relative;
        z-index: 1;

    }

    .banner_inner_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        p,
        h1 {
            color: #fff;
            text-align: center;
        }
    }


    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/*#endregion */

/*#region ACHIEVEMENT SECTION */
.achievement_section {
    margin: 100px 0px;

    .achievement_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .text {
            display: flex;
            gap: 20px;
            flex-direction: column;
            max-width: 520px;
        }
    }

    .achievement {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 20px;
        width: 100%;

        .achievement_item {
            width: 100%;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 20px;
            border: 2px dashed var(--primary-600);
            border-radius: 250px;
        }
    }
}

/*#endregion */

/*#region ABOUT ME SECTION */
.about_section {
    margin: 100px 0px;

    .about_me {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;

        img.person_name {
            /* opacity: 0; */
            width: 100%;
            margin: 0 auto;
            object-fit: contain;
            max-height: 750px;
        }

        .about_content {
            display: grid;
            gap: 20px;

            p {
                gap: 20px;
            }

            .follow_me {
                display: grid;
                gap: 20px;

                .social_accounts {
                    gap: 20px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

/*#endregion  */

/*#region TECHNICAL SKILLS SECTION */
.technical_skills {
    margin: 100px 0px;

    .skills {
        display: grid;
        gap: 80px;
    }

    .skills_title {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .skills_content {
        display: grid;
        gap: 80px;
        grid-template-columns: repeat(1, 1fr);

        .design_tools,
        .front_end_tools {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* display: flex; */
            align-items: flex-start;
            gap: 20px;

            &>* {
                flex: 1;
            }

            .design_title,
            .front_end_title {
                display: flex;
                align-items: center;
                gap: 20px;
                text-wrap: nowrap;
                position: sticky;
                top: 100px;

                .linear_divider {
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(90deg, #818FAF 0%, #212430 100%);
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    width: 100%;
                }
            }

            .front_end_title {
                display: flex;
                align-items: center;
                gap: 20px;
                text-wrap: nowrap;

                .linear_divider {
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(90deg, #212430 0%, #818FAF 100%);
                }
            }

            .design_content,
            .front_end_content {
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(2, 1fr);
            }

            .tool {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 30px;
                border: 2px solid var(--black-600);
                border-radius: 30px;

                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
}

/*#endregion  */

/*#region MY WORK SECTION */
.my_work {
    margin: 100px 0px;


    .work_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 80px;
        gap: 20px;

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;
        }
    }

    .work_content {
        display: grid;
        gap: 20px;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);

        .work_item_content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 20px;
            width: 100%;
            z-index: 2;
            height: 100%;
        }

        .medus {
            grid-column: span 2;
            height: 400px;
            display: flex;
            align-items: flex-end;
            background-image: url(./asset/img/project-1.jpg);
            filter: grayscale(75%);
            mix-blend-mode: luminosity;
            background-size: cover;
            width: 100%;
            padding: 20px;
            border-radius: 30px;
            border: 1px solid var(--black-300);
            position: relative;
            gap: 20px;
            flex-direction: column;
        }

        .medus:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black-950);
            opacity: 0.75;
            z-index: 1;
            border-radius: 30px;
        }

        .medus .work_description {
            display: flex;
            flex-direction: column;
            gap: 20px;
            z-index: 2;

            position: relative;
        }

        .gnostic {
            grid-column: span 1;
            height: 400px;
            display: flex;
            align-items: flex-end;
            background-image: url(./asset/img/project-2.jpeg);
            filter: grayscale(75%);
            mix-blend-mode: luminosity;
            background-size: cover;
            width: 100%;
            padding: 20px;
            border-radius: 30px;
            border: 1px solid var(--black-300);
            position: relative;
            gap: 20px;
            flex-direction: column;
        }

        .gnostic:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black-950);
            opacity: 0.75;
            z-index: 1;
            border-radius: 30px;
        }

        .gnostic .work_description {
            display: flex;
            flex-direction: column;
            gap: 20px;
            z-index: 2;
            position: relative;
        }

        .learnerhub {
            grid-column: span 1;
            height: 400px;
            display: flex;
            align-items: flex-end;
            background-image: url(./asset/img/project-3.jpeg);
            filter: grayscale(75%);
            mix-blend-mode: luminosity;
            background-size: cover;
            width: 100%;
            padding: 20px;
            border-radius: 30px;
            border: 1px solid var(--black-300);
            position: relative;
            gap: 20px;
            flex-direction: column;
        }

        .learnerhub:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black-950);
            opacity: 0.75;
            z-index: 1;
            border-radius: 30px;
        }

        .learnerhub .work_description {
            display: flex;
            flex-direction: column;
            gap: 20px;
            z-index: 2;
            position: relative;
        }
    }
}

/*#endregion  */

/*#region FOOTER SECTION */
footer {
    margin: 100px 0px 0px 0px;
    background-color: var(--primary-300);
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    .follow,
    .contact {
        border-bottom: 1px solid var(--black-950);
    }

    .follow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 80px;

        .logo {
            img {
                width: 120px;
                height: 120px;
            }
        }

        .social_accounts {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0px;

        .work_together {

            color: var(--black-950);

            h2 {
                padding-bottom: 20px;
            }
        }

        span {
            display: flex;
            gap: 80px;
            align-items: center;
            justify-content: center;

            .mail_id,
            .contact_no {
                display: flex;
                align-items: center;
                flex-direction: column;
                color: var(--black-950);

                img {
                    padding-bottom: 20px;
                }
            }
        }
    }

    .greetings {
        padding-top: 20px;
        text-align: center;
        color: var(--black-950);
    }
}


/*#endregion */


/*#region RESPONSIVE  */

@media (max-width: 1440px) {

    /*#region GLOBAL STYLING */
    h1 {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.48px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.40px;
    }

    h3 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.36px;
    }

    h4 {
        font-size: 28px;
        line-height: 36px;
    }

    h5 {
        font-size: 22px;
        line-height: 32px;
    }

    h6 {
        font-size: 18px;
        line-height: 28px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .container {
        max-width: 1220px;
    }

    /*#endregion  */

    /*#region HEADER SECTION */
    header {
        max-width: 1020px;
    }

    /*#endregion  */

    /*#region ACHIEVEMENT SECTION  */
    .achievement_section {
        .achievement_content {
            flex-direction: column;
            gap: 80px;

            .text {
                max-width: unset;
                width: 100%;
            }
        }
    }

    /*#endregion  */
}

@media (max-width: 1080px) {

    /*#region GLOBAD STYLING  */
    h1 {
        font-size: 44px;
        line-height: 56px;
        letter-spacing: 0.44px;
    }

    h2 {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.36px;
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0;
    }

    h4 {
        font-size: 26px;
        line-height: 34px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;
    }

    h6 {
        font-size: 18px;
        line-height: 26px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .container {
        max-width: 884px;
    }

    /*#endregion */

    /*#region HEADER SECTION  */
    header {
        max-width: 844px;
    }

    /*#endregion */

    /*#region ACHIEVEMENT SECTION  */
    .achievement_section {

        .achievement {
            grid-template-columns: repeat(2, 1fr);

            .achievement_item {
                max-height: 180px;
            }
        }
    }

    /*#endregion */

    /*#region TECHNICAL SKILLS SECTION  */
    .technical_skills {
        .skills_content {

            .design_tools,
            .front_end_tools {

                .design_content,
                .front_end_content {
                    grid-template-columns: repeat(1, 1fr);
                }

            }
        }
    }

    /*#endregion  */

}

@media (max-width: 991px) {

    /*#region GLOBAL STYLING  */
    h1 {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.40px;
    }

    h2 {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.36px;
    }

    h3 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.30px;
    }

    h4 {
        font-size: 24px;
        line-height: 32px;
    }

    h5 {
        font-size: 20px;
        line-height: 28px;
    }

    h6 {
        font-size: 18px;
        line-height: 26px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .container {
        max-width: 768px;
        padding: 0 24px;
    }

    /*#endregion  */

    /*#region HEADER SECTION  */
    header {
        max-width: 768px;
        padding: 0 24px;

        nav ul {
            li {
                display: none;
            }

            .mobile_menu {
                display: block !important;
            }
        }
    }

    /*#endregion  */

    /*#region ABOUT ME SECTION  */
    .about_section {

        .about_me {
            grid-template-columns: repeat(1, 1fr);
        }

        img.person_name {
            max-height: 400px !important;
        }
    }

    /*#endregion  */

    /*#region MY WORK SECTION  */
    .my_work {
        .work_content {
            grid-template-columns: repeat(1, 1fr);

            .medus,
            .gnostic,
            .learnerhub {
                grid-column: span 1;
            }
        }
    }

    /*#endregion  */

    /*#region TECHNICAL SKILLS SECTION  */
    .technical_skills {
        .skills_content {



            .design_tools,
            .front_end_tools {

                .design_title {
                    div {
                        flex-direction: column;
                        align-items: flex-start;

                        h4 {
                            text-wrap: wrap;
                        }
                    }
                }

                .front_end_title {
                    div {
                        flex-direction: column-reverse;
                        align-items: flex-end;

                        h4 {
                            text-wrap: wrap;
                            text-align: right;
                        }
                    }
                }
            }

        }
    }

    /*#endregion  */


    /*#region FOOTER SECTION  */
    footer {
        .contact {
            flex-direction: column;
            gap: 40px;
            width: 100%;

            .work_together {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            span {
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    /*#endregion  */

}

@media (max-width: 460px) {

    /*#region GLOBAL STYLING  */
    h1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.36px;
    }

    h2 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.30px;
    }

    h3 {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0;
    }

    h4 {
        font-size: 22px;
        line-height: 30px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .container {
        max-width: 430px;
        padding: 0 25px;
    }

    /*#endregion  */

    /*#region HEADER SECTION  */
    header {
        max-width: 430px;
        padding: 0 25px;
    }

    /*#endregion  */

    /*#region TECHNICAL SKILLS SECTION  */
    .technical_skills {
        .skills_content {

            .design_tools,
            .front_end_tools {
                display: flex;
                flex-direction: column;

                .design_content,
                .front_end_content {
                    grid-template-columns: repeat(1, 1fr);
                }

                .design_title,
                .front_end_title {
                    position: unset;
                    width: 100%;

                    div {
                        flex-direction: column;
                        align-items: flex-start;
                    }


                }

                .front_end_title {
                    div {
                        flex-direction: column-reverse;
                        align-items: flex-end;
                    }
                }
            }

            .front_end_tools {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    /*#endregion  */

    /*#region MY WORK SECTION  */
    .my_work {

        .work_title {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    /*#endregion  */

    /*#region FOOTER SECTION  */
    footer {

        .follow {
            flex-direction: column;
            gap: 40px;
        }

        .contact {
            span {
                flex-direction: column;
                gap: 40px;
            }
        }
    }

    /*#endregion  */

}

@media (max-width: 375px) {

    /*#region GLOBAL STYLING  */
    h1 {
        font-size: 34px;
        line-height: 42px;
        letter-spacing: 0.34px;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.28px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
    }

    h4 {
        font-size: 20px;
        line-height: 28px;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
    }

    h6 {
        font-size: 14px;
        line-height: 22px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .container {
        padding: 0 20px;
    }

    /*#endregion  */

    /*#region HEADER SECTION  */
    header {
        max-width: 375px;
        padding: 0 20px;
    }

    /*#endregion  */

}

@media (max-width: 320px) {

    /*#region GLOBAL STYLING */
    h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.32px;
    }

    h2 {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.26px;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0;
    }

    h4 {
        font-size: 18px;
        line-height: 26px;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
    }

    h6 {
        font-size: 14px;
        line-height: 22px;
    }

    p {
        font-size: 12px;
        line-height: 20px;
    }

    /*#endregion  */

}

/*#endregion  */